.wrap{
    width: 600px;
    height: 800px;
    border: 1px solid #000;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
.title{
    margin: 20px auto;
}
.choose-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}
.task-content{
    padding: 20px;
}
.task-Now{
    display: block;
}
.task-All{
    display: none;
}
.task-Complete{
    display: none;
}

.task-content[isNone=true]{
    display: none;
}
.task-content[isNone=false]{
    display: block;
}
.task-list{
    height: 400px;
    overflow-y: auto;
    border: 1px solid #999;
}
.task-list li{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #000;
}

.task-list .list-blank{
    color: #999;
    line-height: 350px;
    /* display: none; */
}
/* 状态按钮 */

/* 功能按钮 */
.function-box ul{
    display: inline-block;
}
.function-box ul li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    border: 1px solid #000; 
    float: left;
}
.function-box ul li a{
    display: block;
}
.function-box ul li a.active{
    color: #fff;
    background: pink;
}
/* 添加任务弹出 */
.task-edit-box{
    display: none;
    position: absolute;
    width: 400px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background: pink;
}
.task-title-detail{
    width: 200px;
    height: 40px;
    margin: 30px 0;
    padding-left: 5px;
    font-size: 20px;
    outline: none;
    resize: none;
    border: pink;
}
.task-edit-box h4{
    margin: 15px 0;
}
.close-box{
    position: absolute; 
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.submit-task{
    margin: 10px auto;
    width: 60px;
    height: 30px;
    background: #fff;
    border: none;
    display: block;
    outline: none;
    cursor: pointer;
}
.submit-task:hover{
    background: #FFF0F5;
}
.task-list li{
    position: relative;
}
.delete-item{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width:50px;
    height: 50px;
    cursor: pointer;
}
.complete-item{
    position: absolute;
    right: 60px;
    top: 0;
    display: block;
    width:50px;
    height: 50px;
    cursor: pointer;
}
.task-length{
    color: red;
}