.wrap{
    width: 600px;
    height: 800px;
    border: 1px solid #000;
    margin: 20px auto;
    text-align: center;
}
.title{
    margin: 20px auto;
}
.choose-box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}
.task-content{
    padding: 20px;
}
.task-list{
    height: 400px;
    overflow-y: auto;
    border: 1px solid #999;
}
.task-list li{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #000;
}

.task-list .list-blank{
    color: #999;
    line-height: 350px;
}
/* 状态按钮 */




/* 功能按钮 */
.function-box ul{
    display: inline-block;
}
.function-box ul li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    border: 1px solid #000; 
    float: left;
}
.function-box ul li a{
    display: block;
}


/* 添加任务弹出 */
.task-edit-box{
    display: none;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    background: pink;
}
.task-title-detail,.task-content-detail{
    width: 200px;
    outline: none;
    resize: none;
    border: pink;
}
.task-edit-box h4{
    margin: 15px 0;
}
.close-box{
    position: absolute;    
}